# Исключаем папки, связанные с системами контроля версий
.git
.github
.gitignore

# Исключаем зависимости локальной разработки (Node.js, Python, etc.)
__pycache__
.venv/
*.egg-info

# Исключаем логи и файлы отладочной информации
*.log
*.tmp
*.swp

# Исключаем файлы и директории, специфичные для редакторов и ОС
.DS_Store
Thumbs.db
*.sublime*
.vscode/
.idea/

# Исключаем файлы документации
*.md
*.rst

# Исключаем файлы сборки
docker/